{% extends "base.html" %}
{% load static %}
	{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h2 class="text-center"><u>Welcome to Rock, Paper and Scissors Game Page</u></h2>
      <form action="{% url 'game:home' %}" method="POST">
        {% csrf_token %}
        <div class="form-group row">
          <div class="col-sm-6">
            <label for="name">Submit your name to play Game</label>
            <input type="text" class="form-control" placeholder="Enter name" name="name" required>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  {% endblock %}
